*{
    box-sizing: border-box;
    font-family:arial;
}
@font-face{
    font-family:"Beaumont";
    src: url("../fonts/Catherine.ttf");
}
body{
    background-image: linear-gradient(120deg,#01270d,#048a37);
    
}
.FORM-text header a {
    font-family: Beaumont;
    font-size: 80px;
    text-decoration: none;
     
}

form input{
    padding: 10px;
}

.ipam{
    color: #01270d;
    margin-top: 10px;
}

.FORM-text header a:visited {
    color: #01270d;
    
}
.FORM-text header a:hover {
    color: #01270d;
}
h1{
    font-family: arial;
    text-align: center;
    margin-top: 20px;  
}
input{
    margin-bottom: 20px;
    font-size: 15px;
    padding: 7px;
}
.FORM{
    width: 380px;
    background: #ffffff;
    height: 680px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin-top: 30px;
}

form label{
    font-weight :700;
    color: #01270d;
}

.FORM-text {
    margin-top: -55px;
    text-align: center;
}
.FORM-text label{
    font-family: arial;
    font-size: 15px;
    font-style: italic;
}
.msg-erreur{
    font-size: 12px;
    color: #01270d;
}
#accept{
    font-size: 13px;
}

.btn{
    padding:10px;
    border-radius: 10px;
    background-color: #01270d;
    color:#ffffff;
}



p{
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
}
p a{
    text-decoration: none;
    font-weight: bold;
}
p a:visited{
    color: black;
}
p a:hover{
    color: #01270d; 
}



